<%= form_tag(:action => "create") do %>
  <% if @crowdy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crowdy.errors.count, "error") %> prohibited this crowdy from being saved:</h2>

      <ul>
      <% @crowdy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label :name, "Enter a name for your crowdy (you're the only Crowdster who will see this!')" %><br />
    <%= text_field :crowdy, :name %>
  </div>
  <div class="field">
    <%= label :title, "Enter a title for your crowdy -- this is what other Crowdsters will see" %><br />
    <%= text_field :crowdy, :title %>
  </div>
  <div class="field">
    <%= label :question, "What's the question we'll all be answerin'?" %><br />
    <%= text_area :crowdy, :question %>
  </div>
  <div class="field">
    <%= label :desired_crowd_choices, "How many Crowdsters' input would you like?" %><br />
    <%= text_field :crowdy, :desired_crowd_choices %>
  </div>
  <div class="field">
    <%= label :title, "A title for the first choice" %><br />
    <%= text_field :choice1, :title %>
  </div>
  <div class="field">
    <%= label (:imgurl, "Image URL (optional)") %><br />
    <%= text_field :choice1, :imgurl %>
  </div>
  <div class="field">
    <%= label :title, "A title for the second choice" %><br />
    <%= text_field :choice2, :title %>
  </div>
  <div class="field">
    <%= label (:imgurl, "Image URL (optional)") %><br />
    <%= text_field :choice2, :imgurl %>
  </div>
  <div class="actions">
    <%= submit_tag("Let's do it!") %>
  </div>
<% end %>

